<div data-post-id={{post.id}}>
{{#paper-card class="animated fadeIn" as |card|}}
  {{#if post.image}}
    {{card.image src=post.image.source alt=post.image.alt title=post.image.alt}}
  {{/if}}
  {{#if post.title}}
    {{#card.title as |title|}}
      {{#title.text as |text|}}
        {{#text.headline}}
          {{#if (and postUrl post.hasContent)}}
            <a class="href-to" href={{postUrl}}>{{post.title}}</a>
          {{else}}
            {{post.title}}
          {{/if}}
        {{/text.headline}}
      {{/title.text}}
    {{/card.title}}
  {{/if}}
  {{#card.content}}
    {{md-text text=post.excerpt linkify=true}}
  {{/card.content}}
  {{#if (and postUrl post.hasContent)}}
    {{#card.actions}}
      {{#paper-button accent=true class="href-to" href=postUrl}}Read more{{/paper-button}}
    {{/card.actions}}
  {{/if}}
{{/paper-card}}
</div>