<div data-post-id={{post.id}}>
{{#paper-card}}
  {{#if post.image}}
    <img src={{post.image.source}} alt={{post.image.alt}} />
  {{/if}}
  {{#if post.title}}
    {{#paper-card-title}}
      <h3>{{post.title}}</h3>
    {{/paper-card-title}}
  {{/if}}
  {{#paper-card-content}}
    {{markdown-to-html markdown=post.excerpt}}
  {{/paper-card-content}}
  {{#if openPost}}
    <div class="md-actions" layout="row" layout-align="end center">
      {{#paper-button accent=true action=(action openPost)}}Read more{{/paper-button}}
    </div>
  {{/if}}
{{/paper-card}}
</div>