<div class="page-wrapper {{media.classNames}} {{currentRouteName}}" layout="column" tabindex="-1" role="main" flex>
  {{#paper-toolbar class=(concat "app-toolbar md-whiteframe-z1 " (if media.isXs 'md-tall'))}}
    <div class="toolbar-wrapper">
      <div class="site-logo">
        <img src="assets/img/logo.png" alt="banner" />
      </div>
      <div class="toolbar-content layout-row layout-xs-column layout-align-space-between-center layout-align-xs-space-between-start">
        <div layout="row" layout-align="start center" class="name">
          {{#liquid-if (not (eq currentRouteName 'index'))}}
            {{#paper-button href=(href-to 'index') accent=true iconButton=true class="back-button"}}
              {{paper-icon 'arrow_back'}}
            {{/paper-button}}
          {{/liquid-if}}
          <h3>{{#link-to 'index'}}Profanus{{/link-to}}</h3>
        </div>
        <div>
        {{#paper-button accent=true href=(href-to 'recruitment')}}
          Recruitment
        {{/paper-button}}
        {{#paper-button accent=true href=(href-to 'info')}}
          Info
        {{/paper-button}}
        </div>
      </div>
    </div>
  {{/paper-toolbar}}
  {{#paper-content class="main-content"}}
  <div class="content-wrapper">

    <div flex layout="column" layout-gt-sm="row" layout-align="space-between stretch">
      <div flex>
        {{liquid-outlet}}
      </div>

      <div layout="row" layout-gt-sm="column" flex-sm flex-xs layout-align="center stretch" layout-align-gt-sm="start stretch">
        {{#paper-card class="raid-logs animated fadeIn flex-sm" as |card|}}
          {{#card.header as |header|}}
            {{#header.avatar}}
              {{paper-icon 'trending_up'}}
            {{/header.avatar}}
            {{#header.text as |text|}}
              {{#text.title}}Raid Logs{{/text.title}}
              {{#text.subhead}}Overview{{/text.subhead}}
            {{/header.text}}
          {{/card.header}}
          {{#card.actions class="flex layout-column layout-align-space-around-stretch"}}
            {{#paper-button href='https://www.warcraftlogs.com/guilds/4765' target="_blank"}}
              Warcraft Logs
            {{/paper-button}}
            {{#paper-button href='http://www.askmrrobot.com/wow/combatlog/guild/eu/ragnaros/profanus' target="_blank"}}
              Ask Mr. Robot
            {{/paper-button}}
          {{/card.actions}}
        {{/paper-card}}
        {{#paper-card class="wow-progress animated fadeIn flex-sm" as |card|}}
          {{#card.content}}
            <div flex layout="row" layout-align="center center">
              <a href="http://www.wowprogress.com/guild/eu/ragnaros/Profanus" target="_BLANK">
                <img alt="WoW Guild Rankings" src="http://wowprogress.com/guild_img/829204/out/type.site" border="0"/>
              </a>
            </div>
          {{/card.content}}
        {{/paper-card}}
      </div>
    </div>
  </div>
  {{/paper-content}}
</div>